{% extends 'CapSciencesServerVipLayoutBundle::base-front.html.twig' %}

{# On utilise notre propre rendu de formulaire #}
{% form_theme form _self %}

{# redifinition du blockform_widget #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
    {% endspaceless %}
{% endblock form_widget_simple %}

{# redefinition des atribu des champs #}
{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required" aria-required="true" {% else %} aria-required="false" {% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block content %}
    {% if success %}
        <div class="page modal-info">
            <h2>{% trans %}Lost password{% endtrans %} :</h2>
            {% if method == 'sms' %}
                <p>
                    {% trans %}Thanks{% endtrans %},<br/>
                    {% trans %}A sms has been send with your password to {% endtrans %} {{ success }}
                </p>
            {% else %}
                <p>
                    {% trans %}Thanks{% endtrans %},<br/>
                    {% trans %}An email has been send with your password to {% endtrans %} {{ success }}
                </p>
            {% endif %}
        <div class="form-button"><a href="{{ path('capsciences_servervip_core_security_login') }}" class="button">Se connecter</a>
        </div>
    {% else %}
        <div class="page">
            <h2>{% trans %}Lost password{% endtrans %} :</h2>


            <form action="{{ path('capsciences_servervip_core_security_lostpassword',{'method':method}) }}"
                  id="form-already"
                  method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                {% if method == 'sms' %}
                    <p>
                        {% trans %}Please fill in the boxes for login and mobile phone number.{% endtrans %}
                    </p>
                {% else %}
                    <p>
                        {% trans %}Please fill in the boxes for login and email.{% endtrans %}
                    </p>
                {% endif %}


                <div class="form-text">
                    {{ form_label(form.login) }}
                    {{ form_errors(form.login) }}
                    {{ form_widget(form.login) }}
                </div>
                {% if method == 'sms' %}
                    <div class="form-text">
                        {{ form_label(form.mobile) }}
                        {{ form_errors(form.mobile) }}
                        {{ form_widget(form.mobile) }}
                    </div>
                {% else %}
                    <div class="form-text">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                {% endif %}
                {{ form_rest(form) }}
                <span class="form-button">
                    <input type="submit" class="button" value="{{ 'Ok'|trans }}"/>
                </span>
            </form>

            <div class="back-home"><a
                        href="{{ path('capsciences_servervip_core_security_retrieve',{'info':'password'}) }}">{% trans %}
                    Back{% endtrans %}</a></div>

        </div> <!-- /page -->
    {% endif %}
{% endblock %}